// variables
$baseFontSize: 16px;
$background-color: #F6F3F3;
$text-color: #343030;
$text-footer-color: #555555;
$footer-color: #ECEAEA;

$button-text-color: #F4F6F9;
$button-color: #382E2B;
$button-hover-color: #776763;
$button-active-color: #5B3A32;
$button-disable-color: #5B3A32;
$button-search-color: #403432;

$gray-color: #E1E1E1;
$dark-gray-color: #A0A0A0;
$light-gray-color: #B5B5B5;


// breakpoints

$bp-desktop: 1200px;
$bp-laptop: 992px;
$bp-tablets: 768px;
$bp-phones: 576px;